/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h5 {
  margin-bottom: 0;
  color: #a50000;
}
.placeholder {
  margin-bottom: 20px;
  height:230px;
}

.linkholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  /*border-radius: 50%;*/
}

.listLink {
    font-weight: bold;
    /*display: block;*/
    color: #253C98;
    padding-left: 15px;
    background: url(../images/buttonArrow.gif) no-repeat 0px -3px;
    text-decoration: none;
    margin-bottom: 4px;
    line-height: 16px;
    font-style: italic;
    font-size: .9em;
}

.align-center{
	text-align:center;
}

footer {
    height: 40px;
    left: 0;
    /*position: absolute;*/
    width: 100%;
	text-align:center;
	color:#D7D5D5;
	font-size:10px;
	overflow:hidden;
}

.product-links{
	width:150px; 
	display:inline-block;
	text-align:left;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #FFFFFF;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.navbar-inverse .navbar-toggle .icon {
    border-color: #999999;
	background-color: #999999;
}    

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #999999;
}

.navbar-brand-hme-image {
    padding: 8px 12px;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color:#9d9d9d;background-color:transparent
}

.nav-logo > img {
    position: relative;
    height: 38px;
    width: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);    
    transform: translateY(-50%);      
}