body {
  padding-top: 5px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}


.search input { text-indent: 12px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 5px;
}

.expandable-element {
    overflow: hidden;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.system-message { 
    color: #ff0000;
    padding: 5px 0;
}

.recovery-content-row { 
    padding: 5px 0;
    text-align: center;
}

.rounded-corners {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.confirm{
 	padding-bottom:5px;
	width:100%; 
	border:solid 1px #ccc;
}