input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}


.search input { text-indent: 12px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 5px;
}

.expandable-element {
    overflow: hidden;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

