<nav class="navbar navbar">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand navbar-logo" href=""><img src="./images/HME-logo-large.png" alt="HME" <!---width="80"---> height="35" /></a>
                <a class="navbar-brand" href="#">PDF Manuals</a>
            </div>
            <!---<div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                	<li><a href="./?pg=Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>--->
        </div>
    </div>
</nav>