<cfscript> 
function deqGuid(guid) { 
    var guidArray = guid.Split("-");
	var modifiedGuid = guidArray[1] & "-" & guidArray[4] & "-" & guidArray[2] & "-" & guidArray[3]& "-" & guidArray[5];	
	return modifiedGuid;
}  
</cfscript> 

<cfscript> 
function enqGuid(guid) { 
    var guidArray = guid.Split("-");
	var modifiedGuid = guidArray[1] & "-" & guidArray[3] & "-" & guidArray[4] & "-" & guidArray[2] & "-" & guidArray[5];   	
	return modifiedGuid;
}  
</cfscript>

<cfscript>
function updateImage(image, guid, description, object) { 
	 object.updateImageAndDescrption(imageGuid = FORM.imageId, imageDescription = FORM.imageDescription);
}
</cfscript>